<?xml version="1.0" encoding="UTF-8"?>
<config>
	<property name="datasource.driverClassName" value="oracle.jdbc.OracleDriver" />
	<property name="datasource.url"
		value="" />
	<property name="datasource.username" value="" />
	<property name="datasource.password" value="" />
	<property name="datasource.closeMethod" value="close" />
	<property name="datasource.maxIdle" value="10" />
	<property name="datasource.maxAge" value="3000" />
	<property name="datasource.type" value="javax.sql.DataSource" />
	<property name="datasource.maxActive" value="100" />
	<property name="datasource.minIdle" value="5" />
	<property name="datasource.maxWait" value="600000" />
	<property name="datasource.timeBetweenEvictionRunsMillis"
		value="30000" />
	<property name="datasource.minEvictableIdleTimeMillis" value="180000" />
	<property name="datasource.defaultAutoCommit" value="false" />
	<property name="datasource.initialSize" value="25" />
	<property name="datasource.jmxEnabled" value="true" />
	<property name="datasource.jdbcInterceptors"
		value="ConnectionState;StatementFinalizer;SlowQueryReport;ResetAbandonedTimer" />
	<property name="datasource.removeAbandoned" value="true" />
	<property name="datasource.testOnBorrow" value="true" />
	<property name="datasource.testOnReturn" value="true" />
	<property name="datasource.testOnConnect" value="true" />
	<property name="datasource.testWhileIdle" value="true" />
	<property name="datasource.validationQuery" value="select 1 from dual" />
	<property name="datasource.validationInterval" value="60000" />
	<property name="datasource.removeAbandonedTimeout" value="1800" />
	<property name="datasource.accessToUnderlyingConnectionAllowed"
		value="true" />

	<property name="model.package" value="com.cisco.ccw.quote.mongodb.model" />
</config>
